In [145]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('war_daily_bat.csv')

In [139]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121375 entries, 0 to 121374
Data columns (total 49 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   name_common         121375 non-null  object
 1   age                 119987 non-null  float64
 2   mlb_ID              112987 non-null  float64
 3   player_ID           121375 non-null  object
 4   year_ID             121375 non-null  int64
 5   team_ID             121375 non-null  object
 6   stint_ID            121375 non-null  int64
 7   lg_ID               120639 non-null  object
 8   PA                  120573 non-null  float64
 9   G                   121375 non-null  int64
 10  Inn                 76467 non-null   float64
 11  runs_bat            121375 non-null  float64
 12  runs_br             121375 non-null  float64
 13  runs_dp             121375 non-null  float64
 14  runs_field          121375 non-null  float64
 15  runs_infield        76467 non-null   float64
 16  runs_outfield       76467 non-null   float64
 17  runs_catcher        76467 non-null   float64
 18  runs_good_plays     29475 non-null   float64
 19  runs_defense        121375 non-null  float64
 20  runs_position       120387 non-null  float64
 21  runs_position_p     121374 non-null  float64
 22  runs_replacement    120573 non-null  float64
 23  runs_above_rep      120387 non-null  float64
 24  runs_above_avg      120387 non-null  float64
 25  runs_above_avg_off  120387 non-null  float64
 26  runs_above_avg_def  120387 non-null  float64
 27  WAA                 111706 non-null  float64
 28  WAA_off             111706 non-null  float64
 29  WAA_def             111706 non-null  float64
 30  WAR                 110563 non-null  float64
 31  WAR_def             111706 non-null  float64
 32  WAR_off             110563 non-null  float64
 33  WAR_rep             110749 non-null  float64
 34  salary              47946 non-null   float64
 35  pitcher             120232 non-null  object
 36  teamRpG             111706 non-null  float64
 37  oppRpG              121375 non-null  float64
 38  oppRpPA_rep         121375 non-null  float64
 39  oppRpG_rep          111892 non-null  float64
 40  pyth_exponent       111706 non-null  float64
 41  pyth_exponent_rep   111892 non-null  float64
 42  waa_win_perc        111706 non-null  float64
 43  waa_win_perc_off    111706 non-null  float64
 44  waa_win_perc_def    111706 non-null  float64
 45  waa_win_perc_rep    111892 non-null  float64
 46  OPS_plus            101997 non-null  float64
 47  TOB_lg              121369 non-null  float64
 48  TB_lg               121369 non-null  float64
dtypes: float64(41), int64(3), object(5)
memory usage: 45.4+ MB

In [135]:
# Shape of dataframe
df.shape

(121375, 49)

In [136]:
# Sample dataframe
df.sample(10)

,name_common,age,mlb_ID,player_ID,year_ID,team_ID,stint_ID,lg_ID,PA,G,...,oppRpG_rep,pyth_exponent,pyth_exponent_rep,waa_win_perc,waa_win_perc_off,waa_win_perc_def,waa_win_perc_rep,OPS_plus,TOB_lg,TB_lg
58525,Kirby,NaN,NaN,kirby02,1928,CTG,0,NNL,3.0,1,...,4.96007,1.987,1.929,0.5886,0.5886,0.5000,0.4901,264.805305,1.021,1.184
24029,Julio Cruz,28.0,112904.0,cruzju01,1983,SEA,1,AL,206.0,61,...,4.38229,1.871,1.863,0.4973,0.5007,0.4999,0.4879,86.449976,68.204,73.776
99582,Ray Sheppard,26.0,NaN,sheppra01,1929,BBB,0,NNL,125.0,31,...,5.13273,1.966,1.949,0.5159,0.5159,0.5060,0.4871,120.302047,44.150,48.395
74070,Stu Miller,26.0,119121.0,millest01,1954,STL,1,NL,14.0,20,...,4.54905,1.882,1.878,0.5052,0.5052,0.5000,0.4973,76.026061,4.836,5.507
25174,Danny Darwin,31.0,113060.0,darwida01,1987,HOU,1,NL,69.0,35,...,4.45614,1.877,1.869,0.5057,0.5057,0.5004,0.4930,20.657311,22.658,27.179
30402,Jermaine Dye,27.0,113679.0,dyeje01,2001,KCR,1,AL,410.0,97,...,4.72707,1.911,1.906,0.4923,0.4933,0.4950,0.4843,91.954455,139.878,161.517
38048,Phil Garner,38.0,114625.0,garneph01,1987,HOU,1,NL,124.0,43,...,4.42497,1.866,1.867,0.4940,0.4880,0.5073,0.4897,65.077572,40.984,46.122
69295,Cameron Maybin,30.0,457727.0,maybica01,2017,LAA,1,AL,387.0,93,...,4.54630,1.893,1.885,0.5011,0.5000,0.5000,0.4848,86.811921,124.034,142.498
47507,Claude Hendrix,24.0,115760.0,hendrcl01,1913,PIT,1,NL,104.0,53,...,4.08372,1.837,1.823,0.5176,0.5176,0.5000,0.4933,109.939804,33.548,35.680
93284,Ed Roebuck,24.0,121371.0,roebued01,1956,BRO,1,NL,19.0,43,...,4.26180,1.847,1.843,0.5049,0.5049,0.5000,0.4982,99.993005,6.165,7.792

In [6]:
# All column names
for col in df.columns:
    print(col)

name_common
age
mlb_ID
player_ID
year_ID
team_ID
stint_ID
lg_ID
PA
G
Inn
runs_bat
runs_br
runs_dp
runs_field
runs_infield
runs_outfield
runs_catcher
runs_good_plays
runs_defense
runs_position
runs_position_p
runs_replacement
runs_above_rep
runs_above_avg
runs_above_avg_off
runs_above_avg_def
WAA
WAA_off
WAA_def
WAR
WAR_def
WAR_off
WAR_rep
salary
pitcher
teamRpG
oppRpG
oppRpPA_rep
oppRpG_rep
pyth_exponent
pyth_exponent_rep
waa_win_perc
waa_win_perc_off
waa_win_perc_def
waa_win_perc_rep
OPS_plus
TOB_lg
TB_lg

In [142]:
df.isnull().sum()

name_common               0
age                    1388
mlb_ID                 8388
player_ID                 0
year_ID                   0
team_ID                   0
stint_ID                  0
lg_ID                   736
PA                      802
G                         0
Inn                   44908
runs_bat                  0
runs_br                   0
runs_dp                   0
runs_field                0
runs_infield          44908
runs_outfield         44908
runs_catcher          44908
runs_good_plays       91900
runs_defense              0
runs_position           988
runs_position_p           1
runs_replacement        802
runs_above_rep          988
runs_above_avg          988
runs_above_avg_off      988
runs_above_avg_def      988
WAA                    9669
WAA_off                9669
WAA_def                9669
WAR                   10812
WAR_def                9669
WAR_off               10812
WAR_rep               10626
salary                73429
pitcher                1143
teamRpG                9669
oppRpG                    0
oppRpPA_rep               0
oppRpG_rep             9483
pyth_exponent          9669
pyth_exponent_rep      9483
waa_win_perc           9669
waa_win_perc_off       9669
waa_win_perc_def       9669
waa_win_perc_rep       9483
OPS_plus              19378
TOB_lg                    6
TB_lg                     6
dtype: int64

In [144]:
df.isnull().sum().sum()

530271

In [151]:
df.nunique()

name_common           22049
age                      42
mlb_ID                20501
player_ID             22903
year_ID                 153
team_ID                 180
stint_ID                  6
lg_ID                    13
PA                      767
G                       166
Inn                    5646
runs_bat               7105
runs_br                1411
runs_dp                 878
runs_field              503
runs_infield             17
runs_outfield            28
runs_catcher             43
runs_good_plays          20
runs_defense            540
runs_position          2256
runs_position_p        1447
runs_replacement       2619
runs_above_rep         1245
runs_above_avg         1179
runs_above_avg_off     1072
runs_above_avg_def      656
WAA                    1186
WAA_off                1066
WAA_def                 690
WAR                    1242
WAR_def                 690
WAR_off                1132
WAR_rep                 279
salary                 4503
pitcher                   2
teamRpG               79031
oppRpG                  332
oppRpPA_rep             329
oppRpG_rep            60485
pyth_exponent           641
pyth_exponent_rep       401
waa_win_perc           2217
waa_win_perc_off       2000
waa_win_perc_def       1261
waa_win_perc_rep        199
OPS_plus              89342
TOB_lg                55530
TB_lg                 58495
dtype: int64

In [180]:
total_players = df['player_ID'].nunique()
total_teams = df['team_ID'].nunique()
total_seasons = df['year_ID'].nunique()
first_season = df['year_ID'].min()
last_season = df['year_ID'].max()

print(f'Number of players: {total_players}')
print(f'Number of teams: {total_teams}')
print(f'Number of seasons: {total_seasons}')
print(f'First Season: {first_season}')
print(f'Last Season: {last_season}')

Number of players: 22903
Number of teams: 180
Number of seasons: 153
First Season: 1871
Last Season: 2023

In [73]:
df.groupby('name_common').sum()

C:\Users\Hector G. Guerrero\AppData\Local\Temp\ipykernel_2964\31806675.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('name_common').sum()

,age,mlb_ID,year_ID,stint_ID,PA,G,Inn,runs_bat,runs_br,runs_dp,...,oppRpG_rep,pyth_exponent,pyth_exponent_rep,waa_win_perc,waa_win_perc_off,waa_win_perc_def,waa_win_perc_rep,OPS_plus,TOB_lg,TB_lg
name_common,,,,,,,,,,,,,,,,,,,,,
A. Jones,0.0,0.0,1926,0,3.0,1,0.0,-0.94,0.00,0.00,...,5.65576,1.974,2.002,0.4412,0.4412,0.5000,0.4910,-100.000000,1.078,1.254
A. Miller,0.0,0.0,3857,0,25.0,9,0.0,-1.30,0.00,0.00,...,10.34598,3.907,3.900,0.9963,0.9963,0.9939,0.9838,263.063738,8.548,9.979
A. Mullen,0.0,0.0,1928,0,12.0,6,0.0,-1.03,0.00,0.00,...,4.99424,1.924,1.931,0.4717,0.4811,0.4883,0.4934,36.837980,4.082,4.736
A. Russell,0.0,0.0,1926,0,2.0,1,0.0,0.19,0.00,0.00,...,5.69009,2.015,2.003,0.4890,0.5147,0.4726,0.4940,158.892991,0.718,0.836
A.D. Lewis,22.0,0.0,3874,0,0.0,1,0.0,0.00,0.00,0.00,...,5.81040,2.012,2.012,0.5000,0.5000,0.5000,0.5000,0.000000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zollie Wright,246.0,0.0,17436,3,950.0,231,0.0,23.18,-0.04,0.00,...,50.18691,18.005,17.943,4.5267,4.4994,4.4916,4.3927,931.527930,321.202,326.623
Ángel Alfonso,182.0,0.0,13489,0,1318.0,302,0.0,-2.44,-0.54,0.00,...,39.71577,14.129,14.034,3.5707,3.5756,3.5234,3.4111,801.416375,470.004,479.051
Ángel Pagán,319.0,4780996.0,22121,11,4465.0,1124,8671.2,18.71,19.25,10.19,...,47.04096,20.460,20.350,5.5484,5.5501,5.5011,5.3575,1098.976588,1437.350,1658.440
Óscar Hernández,69.0,1775136.0,6051,3,51.0,26,125.3,-3.62,-0.10,-0.43,...,13.30934,5.592,5.599,1.4622,1.4682,1.5047,1.4801,254.548630,16.593,19.486
Óscar Mercado,157.0,3842748.0,12127,7,971.0,295,2123.3,-19.48,3.55,0.24,...,27.20659,11.266,11.275,2.9371,2.9301,2.9962,2.9465,256.604946,309.333,379.726

In [165]:
df.loc[df['name_common'] == 'Deacon McGuire'][['mlb_ID','player_ID', 'year_ID','name_common','team_ID','salary','stint_ID','WAR']]

,mlb_ID,player_ID,year_ID,name_common,team_ID,salary,stint_ID,WAR
71263,118738.0,mcguide01,1884,Deacon McGuire,TOL,NaN,1,-0.76
71264,118738.0,mcguide01,1885,Deacon McGuire,DTN,NaN,1,0.43
71265,118738.0,mcguide01,1886,Deacon McGuire,PHI,NaN,1,0.33
71266,118738.0,mcguide01,1887,Deacon McGuire,PHI,NaN,1,0.84
71267,118738.0,mcguide01,1888,Deacon McGuire,PHI,NaN,1,0.28
71268,118738.0,mcguide01,1888,Deacon McGuire,DTN,NaN,2,-0.36
71269,118738.0,mcguide01,1888,Deacon McGuire,CLE,NaN,3,0.28
71270,118738.0,mcguide01,1890,Deacon McGuire,ROC,NaN,1,2.54
71271,118738.0,mcguide01,1891,Deacon McGuire,WAS,NaN,1,2.73
71272,118738.0,mcguide01,1892,Deacon McGuire,WHS,NaN,1,1.14
71273,118738.0,mcguide01,1893,Deacon McGuire,WHS,NaN,1,0.05
71274,118738.0,mcguide01,1894,Deacon McGuire,WHS,NaN,1,0.72
71275,118738.0,mcguide01,1895,Deacon McGuire,WHS,NaN,1,4.96
71276,118738.0,mcguide01,1896,Deacon McGuire,WHS,NaN,1,1.69
71277,118738.0,mcguide01,1897,Deacon McGuire,WHS,NaN,1,2.62
71278,118738.0,mcguide01,1898,Deacon McGuire,WHS,NaN,1,0.69
71279,118738.0,mcguide01,1899,Deacon McGuire,WHS,NaN,1,0.63
71280,118738.0,mcguide01,1899,Deacon McGuire,BRO,NaN,2,1.36
71281,118738.0,mcguide01,1900,Deacon McGuire,BRO,NaN,1,0.95
71282,118738.0,mcguide01,1901,Deacon McGuire,BRO,3000.0,1,0.89
71283,118738.0,mcguide01,1902,Deacon McGuire,DET,NaN,1,0.05
71284,118738.0,mcguide01,1903,Deacon McGuire,DET,NaN,1,0.54
71285,118738.0,mcguide01,1904,Deacon McGuire,NYY,NaN,1,0.93
71286,118738.0,mcguide01,1905,Deacon McGuire,NYY,NaN,1,0.40
71287,118738.0,mcguide01,1906,Deacon McGuire,NYY,NaN,1,0.76
71288,118738.0,mcguide01,1907,Deacon McGuire,NYY,NaN,1,-0.03
71289,118738.0,mcguide01,1907,Deacon McGuire,BOS,NaN,2,NaN
71290,118738.0,mcguide01,1908,Deacon McGuire,BOS,NaN,1,NaN
71291,118738.0,mcguide01,1908,Deacon McGuire,CLE,NaN,2,0.03
71292,118738.0,mcguide01,1910,Deacon McGuire,CLE,NaN,1,0.07
71293,118738.0,mcguide01,1912,Deacon McGuire,DET,NaN,1,-0.05

In [8]:
df['year_ID'].max() - df['year_ID'].min()

152

In [168]:
df[['player_ID', 'name_common']].value_counts().head(50)

player_ID  name_common
mcguide01  Deacon McGuire      31
davisro04  Roosevelt Davis     29
newsobo01  Bobo Newsom         29
henderi01  Rickey Henderson    29
johnto01   Tommy John          28
kaatji01   Jim Kaat            28
baineha01  Harold Baines       27
carltst01  Steve Carlton       27
ansonca01  Cap Anson           27
moyerja01  Jamie Moyer         27
ryanno01   Nolan Ryan          27
niekrph01  Phil Niekro         26
oroscje01  Jesse Orosco        26
wilheho01  Hoyt Wilhelm        26
mulhote01  Terry Mulholland    26
houghch01  Charlie Hough       26
weathda01  David Weathers      26
wellswi99  Willie Wells        26
rogerna01  Nat Rogers          26
darwida01  Danny Darwin        25
morgami01  Mike Morgan         25
rosepe01   Pete Rose           25
sierrru01  Ruben Sierra        25
duncafr02  Frank Duncan        25
palmcl01   Clarence Palm       25
maddugr01  Greg Maddux         25
eckerde01  Dennis Eckersley    25
dempsri01  Rick Dempsey        25
bucknbi01  Bill Buckner        25
reussje01  Jerry Reuss         25
collied01  Eddie Collins       25
hoytwa01   Waite Hoyt          25
perryga01  Gaylord Perry       25
suttodo01  Don Sutton          25
davisha01  Harry Davis         25
francju01  Julio Franco        25
niekrjo01  Joe Niekro          25
brownla02  Larry Brown         25
wallabo01  Bobby Wallace       25
thomeji01  Jim Thome           25
mayswi01   Willie Mays         24
fiskca01   Carlton Fisk        24
zachato01  Tom Zachary         24
cobbty01   Ty Cobb             24
phillda01  Dave Philley        24
blylebe01  Bert Blyleven       24
mccarti01  Tim McCarver        24
honeyri01  Rick Honeycutt      24
hornsro01  Rogers Hornsby      24
staubru01  Rusty Staub         24
dtype: int64