In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('war_daily_bat.csv')

In [5]:
df.sample(10)

,name_common,age,mlb_ID,player_ID,year_ID,team_ID,stint_ID,lg_ID,PA,G,...,oppRpG_rep,pyth_exponent,pyth_exponent_rep,waa_win_perc,waa_win_perc_off,waa_win_perc_def,waa_win_perc_rep,OPS_plus,TOB_lg,TB_lg
63805,Horace Lisenbee,28.0,117812.0,lisenho01,1927,WSH,1,AL,95.0,39,...,4.87439,1.916,1.919,0.4867,0.4867,0.5000,0.4911,-7.882297,31.530,33.839
30505,Sam Dyson,26.0,473879.0,dysonsa01,2014,MIA,1,NL,1.0,30,...,3.98926,1.807,1.807,0.4996,0.4996,0.5000,0.4999,-100.000000,0.320,0.396
76793,Guillermo Mota,34.0,150407.0,motagu01,2008,MIL,1,NL,0.0,57,...,4.64186,1.887,1.887,0.5000,0.5000,0.5000,0.5000,NaN,0.000,0.000
78752,Rocky Nelson,25.0,119701.0,nelsoro01,1950,STL,1,NL,265.0,76,...,4.55867,1.884,1.885,0.4873,0.4847,0.4986,0.4866,71.261578,92.172,99.946
3909,Mike Bacsik,29.0,407194.0,bacsimi02,2007,WSN,1,NL,34.0,27,...,4.73926,1.901,1.901,0.4973,0.4973,0.5002,0.4961,-27.560774,10.017,12.305
8291,Wilson Betemit,31.0,400140.0,betemwi01,2013,BAL,1,AL,10.0,6,...,4.23272,1.810,1.842,0.4361,0.4361,0.4903,0.4935,-100.000000,3.248,4.108
42147,Doug Griffin,29.0,115138.0,griffdo01,1976,BOS,1,AL,141.0,49,...,3.87648,1.792,1.799,0.4702,0.4744,0.4984,0.4882,27.521396,46.087,48.374
87927,Jurickson Profar,25.0,595777.0,profaju01,2018,TEX,1,AL,594.0,146,...,4.43287,1.884,1.871,0.4960,0.5071,0.4913,0.4849,106.540283,196.733,227.730
61668,Cookie Lavagetto,26.0,117542.0,lavagco01,1939,BRO,1,NL,678.0,153,...,4.33166,1.874,1.859,0.5113,0.5120,0.5004,0.4852,111.239892,236.242,240.142
99924,Chris Short,24.0,122188.0,shortch02,1962,PHI,1,NL,41.0,48,...,4.47169,1.872,1.869,0.5025,0.5025,0.5000,0.4966,33.653594,12.321,14.551

In [6]:
for col in df.columns:
    print(col)

name_common
age
mlb_ID
player_ID
year_ID
team_ID
stint_ID
lg_ID
PA
G
Inn
runs_bat
runs_br
runs_dp
runs_field
runs_infield
runs_outfield
runs_catcher
runs_good_plays
runs_defense
runs_position
runs_position_p
runs_replacement
runs_above_rep
runs_above_avg
runs_above_avg_off
runs_above_avg_def
WAA
WAA_off
WAA_def
WAR
WAR_def
WAR_off
WAR_rep
salary
pitcher
teamRpG
oppRpG
oppRpPA_rep
oppRpG_rep
pyth_exponent
pyth_exponent_rep
waa_win_perc
waa_win_perc_off
waa_win_perc_def
waa_win_perc_rep
OPS_plus
TOB_lg
TB_lg

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121375 entries, 0 to 121374
Data columns (total 49 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   name_common         121375 non-null  object
 1   age                 119987 non-null  float64
 2   mlb_ID              112987 non-null  float64
 3   player_ID           121375 non-null  object
 4   year_ID             121375 non-null  int64
 5   team_ID             121375 non-null  object
 6   stint_ID            121375 non-null  int64
 7   lg_ID               120639 non-null  object
 8   PA                  120573 non-null  float64
 9   G                   121375 non-null  int64
 10  Inn                 76467 non-null   float64
 11  runs_bat            121375 non-null  float64
 12  runs_br             121375 non-null  float64
 13  runs_dp             121375 non-null  float64
 14  runs_field          121375 non-null  float64
 15  runs_infield        76467 non-null   float64
 16  runs_outfield       76467 non-null   float64
 17  runs_catcher        76467 non-null   float64
 18  runs_good_plays     29475 non-null   float64
 19  runs_defense        121375 non-null  float64
 20  runs_position       120387 non-null  float64
 21  runs_position_p     121374 non-null  float64
 22  runs_replacement    120573 non-null  float64
 23  runs_above_rep      120387 non-null  float64
 24  runs_above_avg      120387 non-null  float64
 25  runs_above_avg_off  120387 non-null  float64
 26  runs_above_avg_def  120387 non-null  float64
 27  WAA                 111706 non-null  float64
 28  WAA_off             111706 non-null  float64
 29  WAA_def             111706 non-null  float64
 30  WAR                 110563 non-null  float64
 31  WAR_def             111706 non-null  float64
 32  WAR_off             110563 non-null  float64
 33  WAR_rep             110749 non-null  float64
 34  salary              47946 non-null   float64
 35  pitcher             120232 non-null  object
 36  teamRpG             111706 non-null  float64
 37  oppRpG              121375 non-null  float64
 38  oppRpPA_rep         121375 non-null  float64
 39  oppRpG_rep          111892 non-null  float64
 40  pyth_exponent       111706 non-null  float64
 41  pyth_exponent_rep   111892 non-null  float64
 42  waa_win_perc        111706 non-null  float64
 43  waa_win_perc_off    111706 non-null  float64
 44  waa_win_perc_def    111706 non-null  float64
 45  waa_win_perc_rep    111892 non-null  float64
 46  OPS_plus            101997 non-null  float64
 47  TOB_lg              121369 non-null  float64
 48  TB_lg               121369 non-null  float64
dtypes: float64(41), int64(3), object(5)
memory usage: 45.4+ MB

In [120]:
df.isnull().sum()

name_common               0
age                    1388
mlb_ID                 8388
player_ID                 0
year_ID                   0
team_ID                   0
stint_ID                  0
lg_ID                   736
PA                      802
G                         0
Inn                   44908
runs_bat                  0
runs_br                   0
runs_dp                   0
runs_field                0
runs_infield          44908
runs_outfield         44908
runs_catcher          44908
runs_good_plays       91900
runs_defense              0
runs_position           988
runs_position_p           1
runs_replacement        802
runs_above_rep          988
runs_above_avg          988
runs_above_avg_off      988
runs_above_avg_def      988
WAA                    9669
WAA_off                9669
WAA_def                9669
WAR                   10812
WAR_def                9669
WAR_off               10812
WAR_rep               10626
salary                73429
pitcher                1143
teamRpG                9669
oppRpG                    0
oppRpPA_rep               0
oppRpG_rep             9483
pyth_exponent          9669
pyth_exponent_rep      9483
waa_win_perc           9669
waa_win_perc_off       9669
waa_win_perc_def       9669
waa_win_perc_rep       9483
OPS_plus              19378
TOB_lg                    6
TB_lg                     6
dtype: int64

In [132]:
df.loc[df['name_common'] == 'Josh Donaldson']['WAR']

28547   -0.29
28548    1.45
28549    7.24
28550    6.94
28551    7.11
28552    7.24
28553    4.59
28554    0.54
28555    0.40
28556    5.42
28557    0.54
28558    3.20
28559    2.27
28560    0.10
Name: WAR, dtype: float64

In [73]:
df.groupby('name_common').sum()

C:\Users\Hector G. Guerrero\AppData\Local\Temp\ipykernel_2964\31806675.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('name_common').sum()

,age,mlb_ID,year_ID,stint_ID,PA,G,Inn,runs_bat,runs_br,runs_dp,...,oppRpG_rep,pyth_exponent,pyth_exponent_rep,waa_win_perc,waa_win_perc_off,waa_win_perc_def,waa_win_perc_rep,OPS_plus,TOB_lg,TB_lg
name_common,,,,,,,,,,,,,,,,,,,,,
A. Jones,0.0,0.0,1926,0,3.0,1,0.0,-0.94,0.00,0.00,...,5.65576,1.974,2.002,0.4412,0.4412,0.5000,0.4910,-100.000000,1.078,1.254
A. Miller,0.0,0.0,3857,0,25.0,9,0.0,-1.30,0.00,0.00,...,10.34598,3.907,3.900,0.9963,0.9963,0.9939,0.9838,263.063738,8.548,9.979
A. Mullen,0.0,0.0,1928,0,12.0,6,0.0,-1.03,0.00,0.00,...,4.99424,1.924,1.931,0.4717,0.4811,0.4883,0.4934,36.837980,4.082,4.736
A. Russell,0.0,0.0,1926,0,2.0,1,0.0,0.19,0.00,0.00,...,5.69009,2.015,2.003,0.4890,0.5147,0.4726,0.4940,158.892991,0.718,0.836
A.D. Lewis,22.0,0.0,3874,0,0.0,1,0.0,0.00,0.00,0.00,...,5.81040,2.012,2.012,0.5000,0.5000,0.5000,0.5000,0.000000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zollie Wright,246.0,0.0,17436,3,950.0,231,0.0,23.18,-0.04,0.00,...,50.18691,18.005,17.943,4.5267,4.4994,4.4916,4.3927,931.527930,321.202,326.623
Ángel Alfonso,182.0,0.0,13489,0,1318.0,302,0.0,-2.44,-0.54,0.00,...,39.71577,14.129,14.034,3.5707,3.5756,3.5234,3.4111,801.416375,470.004,479.051
Ángel Pagán,319.0,4780996.0,22121,11,4465.0,1124,8671.2,18.71,19.25,10.19,...,47.04096,20.460,20.350,5.5484,5.5501,5.5011,5.3575,1098.976588,1437.350,1658.440
Óscar Hernández,69.0,1775136.0,6051,3,51.0,26,125.3,-3.62,-0.10,-0.43,...,13.30934,5.592,5.599,1.4622,1.4682,1.5047,1.4801,254.548630,16.593,19.486
Óscar Mercado,157.0,3842748.0,12127,7,971.0,295,2123.3,-19.48,3.55,0.24,...,27.20659,11.266,11.275,2.9371,2.9301,2.9962,2.9465,256.604946,309.333,379.726

In [57]:
df.loc[df['name_common'] == 'Jose Altuve'][['mlb_ID','player_ID', 'year_ID','name_common','team_ID','salary','pitcher','WAR']]

,mlb_ID,player_ID,year_ID,name_common,team_ID,salary,pitcher,WAR
1880,514888.0,altuvjo01,2011,Jose Altuve,HOU,NaN,N,0.61
1881,514888.0,altuvjo01,2012,Jose Altuve,HOU,483000.0,N,1.44
1882,514888.0,altuvjo01,2013,Jose Altuve,HOU,505700.0,N,1.13
1883,514888.0,altuvjo01,2014,Jose Altuve,HOU,1250000.0,N,5.50
1884,514888.0,altuvjo01,2015,Jose Altuve,HOU,2500000.0,N,3.98
1885,514888.0,altuvjo01,2016,Jose Altuve,HOU,3500000.0,N,7.90
1886,514888.0,altuvjo01,2017,Jose Altuve,HOU,4500000.0,N,7.67
1887,514888.0,altuvjo01,2018,Jose Altuve,HOU,9000000.0,N,5.12
1888,514888.0,altuvjo01,2019,Jose Altuve,HOU,9500000.0,N,3.77
1889,514888.0,altuvjo01,2020,Jose Altuve,HOU,29000000.0,N,-0.21
1890,514888.0,altuvjo01,2021,Jose Altuve,HOU,29000000.0,N,4.45
1891,514888.0,altuvjo01,2022,Jose Altuve,HOU,29000000.0,N,5.14
1892,514888.0,altuvjo01,2023,Jose Altuve,HOU,29000000.0,N,0.19

In [8]:
df['year_ID'].max() - df['year_ID'].min()

152