# EDA on Batting WAR dataset
Performing basic EDA on Batting WAR dataset.

In [174]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [175]:
# Loa
df = pd.read_csv('datasets/war_daily_bat.csv')

In [176]:
# Overview of the data with a 10 row sample
df.sample(10)

,name_common,age,mlb_ID,player_ID,year_ID,team_ID,stint_ID,lg_ID,PA,G,...,oppRpG_rep,pyth_exponent,pyth_exponent_rep,waa_win_perc,waa_win_perc_off,waa_win_perc_def,waa_win_perc_rep,OPS_plus,TOB_lg,TB_lg
30293,Cedric Durst,26.0,113666.0,durstce01,1923,SLB,1,AL,95.0,45,...,4.70491,1.898,1.899,0.4877,0.4899,0.4958,0.4920,76.088183,34.243,34.944
99341,Gerry Shea,23.0,122087.0,sheage01,1905,STL,1,NL,6.0,2,...,4.03084,1.828,1.819,0.5050,0.5050,0.5055,0.4891,102.020099,1.927,2.036
9981,Tom Bolton,28.0,111183.0,boltoto01,1990,BOS,1,AL,0.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,0.000
82587,Kevin Padlo,24.0,656821.0,padloke01,2021,TBR,1,AL,14.0,9,...,4.63148,1.883,1.889,0.4834,0.4834,0.4989,0.4946,10.623931,4.322,4.853
40847,Rick Gorecki,23.0,114973.0,gorecri01,1997,LAD,1,NL,1.0,4,...,4.60833,1.886,1.884,0.5038,0.5038,0.5000,0.4992,NaN,0.000,0.000
116104,Lou Whitaker,37.0,124154.0,whitalo01,1994,DET,1,AL,372.0,92,...,5.09817,1.963,1.946,0.5134,0.5150,0.5001,0.4857,122.284873,127.231,139.780
121059,Gus Zernial,28.0,124759.0,zernigu01,1951,PHA,2,AL,617.0,139,...,4.50344,1.892,1.879,0.5107,0.5100,0.4962,0.4863,133.397572,215.950,217.433
6537,Bill Beckmann,32.0,110778.0,beckmbi01,1940,PHA,1,AL,42.0,34,...,4.98567,1.928,1.928,0.4961,0.4961,0.5000,0.4959,8.053230,13.580,16.279
60334,Hiroki Kuroda,33.0,493133.0,kurodhi01,2008,LAD,1,NL,65.0,30,...,4.57433,1.890,1.883,0.5055,0.5055,0.5004,0.4931,4.936872,19.848,22.820
85632,Jesse Petty,31.0,120487.0,pettyje01,1926,BRO,1,NL,101.0,38,...,4.48084,1.874,1.873,0.4932,0.4932,0.5000,0.4915,10.868411,33.741,38.247

In [177]:
# Shape of dataframe
df.shape

(121375, 49)

In [178]:
print("Number of rows: ", df.shape[0])
print("Number of columns: ", df.shape[1])

Number of rows:  121375
Number of columns:  49

In [179]:
# Data types of each column
df.dtypes

name_common            object
age                   float64
mlb_ID                float64
player_ID              object
year_ID                 int64
team_ID                object
stint_ID                int64
lg_ID                  object
PA                    float64
G                       int64
Inn                   float64
runs_bat              float64
runs_br               float64
runs_dp               float64
runs_field            float64
runs_infield          float64
runs_outfield         float64
runs_catcher          float64
runs_good_plays       float64
runs_defense          float64
runs_position         float64
runs_position_p       float64
runs_replacement      float64
runs_above_rep        float64
runs_above_avg        float64
runs_above_avg_off    float64
runs_above_avg_def    float64
WAA                   float64
WAA_off               float64
WAA_def               float64
WAR                   float64
WAR_def               float64
WAR_off               float64
WAR_rep               float64
salary                float64
pitcher                object
teamRpG               float64
oppRpG                float64
oppRpPA_rep           float64
oppRpG_rep            float64
pyth_exponent         float64
pyth_exponent_rep     float64
waa_win_perc          float64
waa_win_perc_off      float64
waa_win_perc_def      float64
waa_win_perc_rep      float64
OPS_plus              float64
TOB_lg                float64
TB_lg                 float64
dtype: object

In [180]:
# check for missing values
df.isnull().sum()

name_common               0
age                    1388
mlb_ID                 8388
player_ID                 0
year_ID                   0
team_ID                   0
stint_ID                  0
lg_ID                   736
PA                      802
G                         0
Inn                   44908
runs_bat                  0
runs_br                   0
runs_dp                   0
runs_field                0
runs_infield          44908
runs_outfield         44908
runs_catcher          44908
runs_good_plays       91900
runs_defense              0
runs_position           988
runs_position_p           1
runs_replacement        802
runs_above_rep          988
runs_above_avg          988
runs_above_avg_off      988
runs_above_avg_def      988
WAA                    9669
WAA_off                9669
WAA_def                9669
WAR                   10812
WAR_def                9669
WAR_off               10812
WAR_rep               10626
salary                73429
pitcher                1143
teamRpG                9669
oppRpG                    0
oppRpPA_rep               0
oppRpG_rep             9483
pyth_exponent          9669
pyth_exponent_rep      9483
waa_win_perc           9669
waa_win_perc_off       9669
waa_win_perc_def       9669
waa_win_perc_rep       9483
OPS_plus              19378
TOB_lg                    6
TB_lg                     6
dtype: int64

In [181]:
# Summary statistics for all numerical columns
df.describe()

,age,mlb_ID,year_ID,stint_ID,PA,G,Inn,runs_bat,runs_br,runs_dp,...,oppRpG_rep,pyth_exponent,pyth_exponent_rep,waa_win_perc,waa_win_perc_off,waa_win_perc_def,waa_win_perc_rep,OPS_plus,TOB_lg,TB_lg
count,119987.000000,112987.000000,121375.000000,121375.000000,120573.000000,121375.000000,76467.000000,121375.000000,121375.000000,121375.000000,...,111892.000000,111706.000000,111892.000000,111706.000000,111706.000000,111706.000000,111892.000000,101997.000000,121369.000000,121369.000000
mean,27.787135,207916.047262,1966.710904,1.025714,149.459182,45.152066,313.949138,-0.791258,0.000270,-0.000342,...,4.527066,1.877152,1.874663,0.495399,0.496085,0.499387,0.491576,53.769473,48.877443,52.426025
std,4.436740,169142.978896,39.910613,0.383629,200.635289,47.710997,403.734140,9.153787,1.067511,0.592303,...,0.677578,0.075139,0.074956,0.021080,0.018711,0.009019,0.005119,85.034772,66.489481,71.173247
min,15.000000,110001.000000,1871.000000,0.000000,0.000000,0.000000,0.000000,-64.050000,-8.210000,-6.200000,...,3.189750,1.682000,1.706000,0.238000,0.325200,0.273600,0.480200,-100.000000,0.000000,0.000000
25%,25.000000,115103.000000,1935.000000,1.000000,4.000000,5.000000,33.000000,-4.140000,-0.170000,0.000000,...,4.086150,1.827000,1.824000,0.486800,0.488000,0.497300,0.487300,7.507723,1.298000,1.332000
50%,27.000000,120055.000000,1974.000000,1.000000,49.000000,28.000000,113.700000,-0.650000,0.000000,0.000000,...,4.468375,1.873000,1.871000,0.497800,0.497900,0.500000,0.491100,68.552815,15.504000,16.946000
75%,31.000000,150029.000000,2002.000000,1.000000,229.000000,72.000000,452.150000,0.000000,0.070000,0.000000,...,4.814130,1.914000,1.912000,0.504300,0.503900,0.500900,0.495800,102.654182,74.164000,80.035000
max,58.000000,807799.000000,2023.000000,5.000000,778.000000,165.000000,1543.000000,116.270000,18.640000,6.650000,...,10.331210,2.410000,2.372000,0.793700,0.793700,0.700200,0.500000,1250.047427,278.300000,338.514000

In [182]:
# Unique values and counts for all categorical column
df.describe(include=['O'])

       name_common  player_ID team_ID   lg_ID pitcher
count       121375     121375  121375  120639  120232
unique       22049      22903     180      13       2
top     Bob Miller  mcguide01     STL      NL       N
freq            48         31    5228   57077   68357

In [183]:
total_players = df['player_ID'].nunique()
total_teams = df['team_ID'].nunique()
total_seasons = df['year_ID'].nunique()
first_season = df['year_ID'].min()
last_season = df['year_ID'].max()

print(f'Number of players: {total_players}')
print(f'Number of teams: {total_teams}')
print(f'Number of seasons: {total_seasons}')
print(f'First Season: {first_season}')
print(f'Last Season: {last_season}')

Number of players: 22903
Number of teams: 180
Number of seasons: 153
First Season: 1871
Last Season: 2023

### Data Cleaning

#### Drop mlb_ID column
Both `mlb_ID` and `player_ID` columns are identifiers for the same player. `player_ID` is more widely used and recognized in other baseball datasets I might want to integrate in the future.

In [184]:
# Drop mlb_ID column
df.drop('mlb_ID', axis=1, inplace=True)

In [199]:
df.isnull().sum()

name_common               0
age                    1388
player_ID                 0
year_ID                   0
team_ID                   0
stint_ID                  0
lg_ID                   736
PA                      802
G                         0
Inn                   44908
runs_bat                  0
runs_br                   0
runs_dp                   0
runs_field                0
runs_infield          44908
runs_outfield         44908
runs_catcher          44908
runs_good_plays       91900
runs_defense              0
runs_position           988
runs_position_p           1
runs_replacement        802
runs_above_rep          988
runs_above_avg          988
runs_above_avg_off      988
runs_above_avg_def      988
WAA                    9669
WAA_off                9669
WAA_def                9669
WAR                   10812
WAR_def                9669
WAR_off               10812
WAR_rep               10626
salary                73429
pitcher                1143
teamRpG                9669
oppRpG                    0
oppRpPA_rep               0
oppRpG_rep             9483
pyth_exponent          9669
pyth_exponent_rep      9483
waa_win_perc           9669
waa_win_perc_off       9669
waa_win_perc_def       9669
waa_win_perc_rep       9483
OPS_plus              19378
TOB_lg                    6
TB_lg                     6
dtype: int64

In [200]:
df.isnull().sum().sum()

521883

#### Selecting the Appropriate Time Frame for Analysis

By the 1970s, many modern aspects of the game were in place. For instance, the designated hitter rule was established in the American League in 1973, free agency began in the mid-1970s, and by the 1980s, training, nutrition, and medical treatment for players had evolved significantly. Furthermore, the quality and completeness of data tends to be better from the 1970s onward.

In [201]:
# Start from 1970 season
df_modern = df[df['year_ID'] >= 1970]

In [204]:
df_modern.isnull().sum()

name_common               0
age                       0
player_ID                 0
year_ID                   0
team_ID                   0
stint_ID                  0
lg_ID                     0
PA                      796
G                         0
Inn                       0
runs_bat                  0
runs_br                   0
runs_dp                   0
runs_field                0
runs_infield              0
runs_outfield             0
runs_catcher              0
runs_good_plays       35112
runs_defense              0
runs_position           796
runs_position_p           0
runs_replacement        796
runs_above_rep          796
runs_above_avg          796
runs_above_avg_off      796
runs_above_avg_def      796
WAA                    9477
WAA_off                9477
WAA_def                9477
WAR                    9799
WAR_def                9477
WAR_off                9799
WAR_rep                9799
salary                31020
pitcher                 322
teamRpG                9477
oppRpG                    0
oppRpPA_rep               0
oppRpG_rep             9477
pyth_exponent          9477
pyth_exponent_rep      9477
waa_win_perc           9477
waa_win_perc_off       9477
waa_win_perc_def       9477
waa_win_perc_rep       9477
OPS_plus              17324
TOB_lg                    0
TB_lg                     0
dtype: int64

In [205]:
df_modern.isnull().sum().sum()

232471

In [203]:
df_modern.shape

(64587, 48)

In [206]:
# Drop Pitchers
df_modern = df_modern[df_modern['pitcher'] != 'Y']

In [208]:
df_modern.isnull().sum()

name_common               0
age                       0
player_ID                 0
year_ID                   0
team_ID                   0
stint_ID                  0
lg_ID                     0
PA                        0
G                         0
Inn                       0
runs_bat                  0
runs_br                   0
runs_dp                   0
runs_field                0
runs_infield              0
runs_outfield             0
runs_catcher              0
runs_good_plays       19535
runs_defense              0
runs_position             0
runs_position_p           0
runs_replacement          0
runs_above_rep            0
runs_above_avg            0
runs_above_avg_off        0
runs_above_avg_def        0
WAA                       1
WAA_off                   1
WAA_def                   1
WAR                     323
WAR_def                   1
WAR_off                 323
WAR_rep                 323
salary                15713
pitcher                 322
teamRpG                   1
oppRpG                    0
oppRpPA_rep               0
oppRpG_rep                1
pyth_exponent             1
pyth_exponent_rep         1
waa_win_perc              1
waa_win_perc_off          1
waa_win_perc_def          1
waa_win_perc_rep          1
OPS_plus                159
TOB_lg                    0
TB_lg                     0
dtype: int64

In [209]:
df_modern.isnull().sum().sum()

36710

In [211]:
# Drop 2023 season
df_modern = df_modern[df_modern['year_ID'] != 2023]
df_modern.shape

(33308, 48)

In [213]:
df_modern.isnull().sum()

name_common               0
age                       0
player_ID                 0
year_ID                   0
team_ID                   0
stint_ID                  0
lg_ID                     0
PA                        0
G                         0
Inn                       0
runs_bat                  0
runs_br                   0
runs_dp                   0
runs_field                0
runs_infield              0
runs_outfield             0
runs_catcher              0
runs_good_plays       19535
runs_defense              0
runs_position             0
runs_position_p           0
runs_replacement          0
runs_above_rep            0
runs_above_avg            0
runs_above_avg_off        0
runs_above_avg_def        0
WAA                       1
WAA_off                   1
WAA_def                   1
WAR                     320
WAR_def                   1
WAR_off                 320
WAR_rep                 320
salary                15558
pitcher                 319
teamRpG                   1
oppRpG                    0
oppRpPA_rep               0
oppRpG_rep                1
pyth_exponent             1
pyth_exponent_rep         1
waa_win_perc              1
waa_win_perc_off          1
waa_win_perc_def          1
waa_win_perc_rep          1
OPS_plus                154
TOB_lg                    0
TB_lg                     0
dtype: int64

In [215]:
df_modern.isnull().sum().sum()

36538

In [217]:
# Drop Players with G as zero
df_modern = df_modern[df_modern['G'] != 0]

In [219]:
df_modern.isnull().sum()

name_common               0
age                       0
player_ID                 0
year_ID                   0
team_ID                   0
stint_ID                  0
lg_ID                     0
PA                        0
G                         0
Inn                       0
runs_bat                  0
runs_br                   0
runs_dp                   0
runs_field                0
runs_infield              0
runs_outfield             0
runs_catcher              0
runs_good_plays       19535
runs_defense              0
runs_position             0
runs_position_p           0
runs_replacement          0
runs_above_rep            0
runs_above_avg            0
runs_above_avg_off        0
runs_above_avg_def        0
WAA                       0
WAA_off                   0
WAA_def                   0
WAR                     319
WAR_def                   0
WAR_off                 319
WAR_rep                 319
salary                15557
pitcher                 319
teamRpG                   0
oppRpG                    0
oppRpPA_rep               0
oppRpG_rep                0
pyth_exponent             0
pyth_exponent_rep         0
waa_win_perc              0
waa_win_perc_off          0
waa_win_perc_def          0
waa_win_perc_rep          0
OPS_plus                153
TOB_lg                    0
TB_lg                     0
dtype: int64

In [220]:
df_modern.isnull().sum().sum()

36521

In [222]:
# Drop Players with PA as zero
df_modern = df_modern[df_modern['PA'] != 0]

In [224]:
df_modern.isnull().sum()

name_common               0
age                       0
player_ID                 0
year_ID                   0
team_ID                   0
stint_ID                  0
lg_ID                     0
PA                        0
G                         0
Inn                       0
runs_bat                  0
runs_br                   0
runs_dp                   0
runs_field                0
runs_infield              0
runs_outfield             0
runs_catcher              0
runs_good_plays       19446
runs_defense              0
runs_position             0
runs_position_p           0
runs_replacement          0
runs_above_rep            0
runs_above_avg            0
runs_above_avg_off        0
runs_above_avg_def        0
WAA                       0
WAA_off                   0
WAA_def                   0
WAR                     290
WAR_def                   0
WAR_off                 290
WAR_rep                 290
salary                15446
pitcher                 290
teamRpG                   0
oppRpG                    0
oppRpPA_rep               0
oppRpG_rep                0
pyth_exponent             0
pyth_exponent_rep         0
waa_win_perc              0
waa_win_perc_off          0
waa_win_perc_def          0
waa_win_perc_rep          0
OPS_plus                 18
TOB_lg                    0
TB_lg                     0
dtype: int64

In [225]:
df_modern.isnull().sum().sum()

36070

In [194]:
# Show player with WAR as null
df_modern[df_modern['WAR'].isnull()]['PA'].describe()

count    1154.000000
mean        3.758232
std         5.866951
min         1.000000
25%         1.000000
50%         2.000000
75%         4.000000
max        76.000000
Name: PA, dtype: float64

In [226]:
# Show player with less than 100 PA
df_modern[df_modern['PA'] < 100].isnull().sum().sum()

16344

In [227]:
# Drop players with less than 100 PA
df_modern = df_modern[df_modern['PA'] >= 100]

In [230]:
df_modern.shape

(21842, 48)

In [228]:
df_modern.isnull().sum()

name_common               0
age                       0
player_ID                 0
year_ID                   0
team_ID                   0
stint_ID                  0
lg_ID                     0
PA                        0
G                         0
Inn                       0
runs_bat                  0
runs_br                   0
runs_dp                   0
runs_field                0
runs_infield              0
runs_outfield             0
runs_catcher              0
runs_good_plays       12815
runs_defense              0
runs_position             0
runs_position_p           0
runs_replacement          0
runs_above_rep            0
runs_above_avg            0
runs_above_avg_off        0
runs_above_avg_def        0
WAA                       0
WAA_off                   0
WAA_def                   0
WAR                       0
WAR_def                   0
WAR_off                   0
WAR_rep                   0
salary                 6911
pitcher                   0
teamRpG                   0
oppRpG                    0
oppRpPA_rep               0
oppRpG_rep                0
pyth_exponent             0
pyth_exponent_rep         0
waa_win_perc              0
waa_win_perc_off          0
waa_win_perc_def          0
waa_win_perc_rep          0
OPS_plus                  0
TOB_lg                    0
TB_lg                     0
dtype: int64

In [229]:
df_modern.isnull().sum().sum()

19726