In [408]:
import pandas as pd
import numpy as np

In [409]:
# Load data
df = pd.read_csv('People.csv')

In [410]:
name_x = 'Jose Reyes'
year = None

In [777]:
# concat nameFirst and nameLast
df['name'] = df['nameFirst'] + ' ' + df['nameLast']

In [778]:
# Jose Valentin
df[df['name'] == 'Yainer Diaz']

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,deathCountry,deathState,deathCity,nameFirst,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID,name
4729,diazya02,1998.0,9.0,21.0,D.R.,Azua,Azua,NaN,NaN,NaN,NaN,NaN,NaN,Yainer,Diaz,Yainer Radhames,195.0,72.0,R,R,2022-09-02,2023-06-24,diazy004,diazya02,Yainer Diaz

In [779]:
# Change Jose Valentin birthYear to 1969
df.loc[df['name'] == 'Yainer Diaz', 'birthYear'] = 2000

In [780]:
# Change birthYear of Alex Gonzalez bbrefID gonzaal01
df.loc[df['bbrefID'] == 'garcilu01', 'birthYear'] = 1700

In [781]:
# drop name column
df.drop('name', axis=1, inplace=True)

In [782]:
# save to csv
df.to_csv('People.csv', index=False)